---

---

<div id="container" class="min-h-screen bg-[#F1F1F1] flex flex-col">
  <!-- Header Section with Logo -->
  <header class="px-4 sm:px-8 py-8 flex justify-center">
    <div class="staatliches-regular text-[32px] font-normal text-[#181818] leading-none">
      <svg width="200" height="25" viewBox="0 0 200 25" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0.84116 24C0.75316 24 0.70916 23.945 0.70916 23.835L0.74216 1.164C0.74216 1.076 0.78616 1.032 0.87416 1.032H11.4672C11.5552 1.032 11.5992 1.087 11.5992 1.197V4.893C11.5992 4.981 11.5552 5.025 11.4672 5.025H4.70216V10.173H11.4672C11.5552 10.173 11.5992 10.217 11.5992 10.305L11.6322 14.034C11.6322 14.122 11.5882 14.166 11.5002 14.166H4.70216V19.941H11.5002C11.5882 19.941 11.6322 19.996 11.6322 20.106V23.868C11.6322 23.956 11.5882 24 11.5002 24H0.84116ZM20.123 24.33C18.913 24.33 17.813 24.033 16.823 23.439C15.855 22.823 15.085 22.009 14.513 20.997C13.941 19.985 13.655 18.852 13.655 17.598L13.688 7.302C13.688 6.092 13.963 4.992 14.513 4.002C15.085 2.99 15.855 2.187 16.823 1.593C17.813 0.976999 18.913 0.668999 20.123 0.668999C21.333 0.668999 22.422 0.966 23.39 1.56C24.358 2.154 25.128 2.957 25.7 3.969C26.272 4.959 26.558 6.07 26.558 7.302V8.82C26.558 8.908 26.514 8.952 26.426 8.952H22.73C22.642 8.952 22.598 8.908 22.598 8.82V7.302C22.598 6.576 22.356 5.949 21.872 5.421C21.41 4.893 20.827 4.629 20.123 4.629C19.331 4.629 18.726 4.904 18.308 5.454C17.89 5.982 17.681 6.598 17.681 7.302V17.598C17.681 18.412 17.912 19.072 18.374 19.578C18.858 20.084 19.441 20.337 20.123 20.337C20.827 20.337 21.41 20.062 21.872 19.512C22.356 18.94 22.598 18.302 22.598 17.598V16.08C22.598 15.992 22.642 15.948 22.73 15.948H26.459C26.547 15.948 26.591 15.992 26.591 16.08V17.598C26.591 18.852 26.294 19.985 25.7 20.997C25.128 22.009 24.358 22.823 23.39 23.439C22.422 24.033 21.333 24.33 20.123 24.33ZM35.1091 24.33C33.9211 24.33 32.8321 24.033 31.8421 23.439C30.8741 22.823 30.0931 22.02 29.4991 21.03C28.9051 20.018 28.6081 18.907 28.6081 17.697L28.6411 7.236C28.6411 6.026 28.9271 4.926 29.4991 3.936C30.0931 2.946 30.8851 2.154 31.8751 1.56C32.8651 0.966 33.9431 0.668999 35.1091 0.668999C36.2971 0.668999 37.3751 0.966 38.3431 1.56C39.3111 2.154 40.0811 2.946 40.6531 3.936C41.2471 4.926 41.5441 6.026 41.5441 7.236L41.5771 17.697C41.5771 18.907 41.2801 20.018 40.6861 21.03C40.1141 22.02 39.3331 22.823 38.3431 23.439C37.3751 24.033 36.2971 24.33 35.1091 24.33ZM35.1091 20.337C35.7691 20.337 36.3411 20.073 36.8251 19.545C37.3311 18.995 37.5841 18.379 37.5841 17.697L37.5511 7.236C37.5511 6.51 37.3201 5.894 36.8581 5.388C36.3961 4.882 35.8131 4.629 35.1091 4.629C34.4271 4.629 33.8441 4.882 33.3601 5.388C32.8761 5.872 32.6341 6.488 32.6341 7.236V17.697C32.6341 18.423 32.8761 19.05 33.3601 19.578C33.8441 20.084 34.4271 20.337 35.1091 20.337ZM44.2181 24C44.1301 24 44.0861 23.945 44.0861 23.835L44.1521 1.164C44.1521 1.076 44.1961 1.032 44.2841 1.032H48.3101C48.3981 1.032 48.4751 1.076 48.5411 1.164L51.5441 5.52L54.5471 1.164C54.6131 1.076 54.6901 1.032 54.7781 1.032H58.8371C58.9251 1.032 58.9691 1.076 58.9691 1.164L59.0351 23.835C59.0351 23.945 58.9911 24 58.9031 24H55.1741C55.0861 24 55.0421 23.945 55.0421 23.835L55.0091 7.005L51.5441 12.021L48.1121 7.005L48.0791 23.835C48.0791 23.945 48.0351 24 47.9471 24H44.2181ZM61.9427 24C61.8547 24 61.8107 23.945 61.8107 23.835L61.8767 1.164C61.8767 1.076 61.9207 1.032 62.0087 1.032H66.0347C66.1227 1.032 66.1997 1.076 66.2657 1.164L69.2687 5.52L72.2717 1.164C72.3377 1.076 72.4147 1.032 72.5027 1.032H76.5617C76.6497 1.032 76.6937 1.076 76.6937 1.164L76.7597 23.835C76.7597 23.945 76.7157 24 76.6277 24H72.8987C72.8107 24 72.7667 23.945 72.7667 23.835L72.7337 7.005L69.2687 12.021L65.8367 7.005L65.8037 23.835C65.8037 23.945 65.7597 24 65.6717 24H61.9427ZM79.6673 24C79.5793 24 79.5353 23.945 79.5353 23.835L79.5683 1.164C79.5683 1.076 79.6123 1.032 79.7003 1.032H90.2933C90.3813 1.032 90.4253 1.087 90.4253 1.197V4.893C90.4253 4.981 90.3813 5.025 90.2933 5.025H83.5283V10.173H90.2933C90.3813 10.173 90.4253 10.217 90.4253 10.305L90.4583 14.034C90.4583 14.122 90.4143 14.166 90.3263 14.166H83.5283V19.941H90.3263C90.4143 19.941 90.4583 19.996 90.4583 20.106V23.868C90.4583 23.956 90.4143 24 90.3263 24H79.6673ZM93.5248 24C93.4368 24 93.3928 23.945 93.3928 23.835L93.4588 1.164C93.4588 1.076 93.5028 1.032 93.5908 1.032H100.257C101.445 1.032 102.534 1.329 103.524 1.923C104.536 2.495 105.339 3.276 105.933 4.266C106.527 5.234 106.824 6.334 106.824 7.566C106.824 8.38 106.703 9.117 106.461 9.777C106.219 10.415 105.933 10.965 105.603 11.427C105.273 11.867 104.976 12.197 104.712 12.417C105.9 13.737 106.494 15.288 106.494 17.07L106.527 23.835C106.527 23.945 106.472 24 106.362 24H102.633C102.545 24 102.501 23.967 102.501 23.901V17.07C102.501 16.278 102.215 15.596 101.643 15.024C101.093 14.43 100.411 14.133 99.5968 14.133H97.4188L97.3858 23.835C97.3858 23.945 97.3418 24 97.2538 24H93.5248ZM97.4188 10.173H100.257C100.939 10.173 101.544 9.92 102.072 9.414C102.6 8.908 102.864 8.292 102.864 7.566C102.864 6.862 102.6 6.257 102.072 5.751C101.566 5.245 100.961 4.992 100.257 4.992H97.4188V10.173ZM115.224 24.33C114.014 24.33 112.914 24.033 111.924 23.439C110.956 22.823 110.186 22.009 109.614 20.997C109.042 19.985 108.756 18.852 108.756 17.598L108.789 7.302C108.789 6.092 109.064 4.992 109.614 4.002C110.186 2.99 110.956 2.187 111.924 1.593C112.914 0.976999 114.014 0.668999 115.224 0.668999C116.434 0.668999 117.523 0.966 118.491 1.56C119.459 2.154 120.229 2.957 120.801 3.969C121.373 4.959 121.659 6.07 121.659 7.302V8.82C121.659 8.908 121.615 8.952 121.527 8.952H117.831C117.743 8.952 117.699 8.908 117.699 8.82V7.302C117.699 6.576 117.457 5.949 116.973 5.421C116.511 4.893 115.928 4.629 115.224 4.629C114.432 4.629 113.827 4.904 113.409 5.454C112.991 5.982 112.782 6.598 112.782 7.302V17.598C112.782 18.412 113.013 19.072 113.475 19.578C113.959 20.084 114.542 20.337 115.224 20.337C115.928 20.337 116.511 20.062 116.973 19.512C117.457 18.94 117.699 18.302 117.699 17.598V16.08C117.699 15.992 117.743 15.948 117.831 15.948H121.56C121.648 15.948 121.692 15.992 121.692 16.08V17.598C121.692 18.852 121.395 19.985 120.801 20.997C120.229 22.009 119.459 22.823 118.491 23.439C117.523 24.033 116.434 24.33 115.224 24.33ZM124.237 24C124.149 24 124.105 23.945 124.105 23.835L124.138 1.164C124.138 1.076 124.182 1.032 124.27 1.032H134.863C134.951 1.032 134.995 1.087 134.995 1.197V4.893C134.995 4.981 134.951 5.025 134.863 5.025H128.098V10.173H134.863C134.951 10.173 134.995 10.217 134.995 10.305L135.028 14.034C135.028 14.122 134.984 14.166 134.896 14.166H128.098V19.941H134.896C134.984 19.941 135.028 19.996 135.028 20.106V23.868C135.028 23.956 134.984 24 134.896 24H124.237ZM143.026 24C142.916 24 142.861 23.945 142.861 23.835L142.927 1.164C142.927 1.076 142.971 1.032 143.059 1.032L149.23 0.998999C150.44 0.976999 151.54 1.263 152.53 1.857C153.542 2.451 154.345 3.254 154.939 4.266C155.533 5.256 155.83 6.356 155.83 7.566V17.037C155.83 18.313 155.522 19.479 154.906 20.535C154.29 21.569 153.465 22.394 152.431 23.01C151.397 23.626 150.231 23.945 148.933 23.967L143.026 24ZM146.887 19.941H148.933C149.747 19.941 150.429 19.655 150.979 19.083C151.551 18.511 151.837 17.829 151.837 17.037V7.533C151.837 6.829 151.573 6.224 151.045 5.718C150.539 5.19 149.934 4.937 149.23 4.959L146.92 4.992L146.887 19.941ZM164.401 24.33C163.235 24.33 162.157 24.033 161.167 23.439C160.177 22.823 159.385 22.009 158.791 20.997C158.219 19.985 157.933 18.874 157.933 17.664L157.999 1.164C157.999 1.076 158.043 1.032 158.131 1.032H161.827C161.915 1.032 161.959 1.076 161.959 1.164V17.664C161.959 18.412 162.19 19.05 162.652 19.578C163.136 20.084 163.719 20.337 164.401 20.337C165.105 20.337 165.688 20.084 166.15 19.578C166.634 19.05 166.876 18.412 166.876 17.664V1.164C166.876 1.076 166.92 1.032 167.008 1.032H170.704C170.792 1.032 170.836 1.076 170.836 1.164L170.902 17.664C170.902 18.896 170.605 20.018 170.011 21.03C169.439 22.042 168.658 22.845 167.668 23.439C166.7 24.033 165.611 24.33 164.401 24.33ZM173.673 24C173.563 24 173.508 23.945 173.508 23.835L173.574 1.164C173.574 1.076 173.618 1.032 173.706 1.032L179.877 0.998999C181.087 0.976999 182.187 1.263 183.177 1.857C184.189 2.451 184.992 3.254 185.586 4.266C186.18 5.256 186.477 6.356 186.477 7.566V17.037C186.477 18.313 186.169 19.479 185.553 20.535C184.937 21.569 184.112 22.394 183.078 23.01C182.044 23.626 180.878 23.945 179.58 23.967L173.673 24ZM177.534 19.941H179.58C180.394 19.941 181.076 19.655 181.626 19.083C182.198 18.511 182.484 17.829 182.484 17.037V7.533C182.484 6.829 182.22 6.224 181.692 5.718C181.186 5.19 180.581 4.937 179.877 4.959L177.567 4.992L177.534 19.941ZM189.205 24C189.117 24 189.073 23.945 189.073 23.835L189.106 1.164C189.106 1.076 189.15 1.032 189.238 1.032H199.831C199.919 1.032 199.963 1.087 199.963 1.197V4.893C199.963 4.981 199.919 5.025 199.831 5.025H193.066V10.173H199.831C199.919 10.173 199.963 10.217 199.963 10.305L199.996 14.034C199.996 14.122 199.952 14.166 199.864 14.166H193.066V19.941H199.864C199.952 19.941 199.996 19.996 199.996 20.106V23.868C199.996 23.956 199.952 24 199.864 24H189.205Z" fill="black"/>
      </svg>        
    </div>
  </header>

  <!-- Main Content - Flexible and Centered -->
  <main class="flex-1 flex flex-col items-center justify-center text-center px-4">
    <!-- Main Heading -->
    <h1 class="font-roboto text-[42px] font-black text-black mb-12 leading-tight max-w-4xl">
      Shopify tips, tricks &<br>YouTube content
    </h1>

    <!-- Newsletter Section - Moved from footer -->
    <div class="max-w-sm mx-auto mb-8">
      <script src="https://f.convertkit.com/ckjs/ck.5.js"></script>
      <!-- Section Heading -->
      <h3 class="text-left staatliches-regular text-[24px] leading-none font-black text-black uppercase mb-1">
        NEWSLETTER
      </h3>

      <!-- Description -->
      <p class="text-left staatliches-regular text-[14px] leading-none font-thin text-black mt-0 mb-3">
        Weekly Shopify tips, YouTube updates, and ecommerce insights.
      </p>

      <!-- Email Input and Subscribe Button -->
      <form 
        action="https://app.kit.com/forms/8585683/subscriptions" 
        method="post" 
        class="flex flex-row seva-form formkit-form"
        data-sv-form="8585683" 
        data-uid="418f1adfcc" 
        data-format="inline" 
        data-version="5"
        data-options="{&quot;settings&quot;:{&quot;after_subscribe&quot;:{&quot;action&quot;:&quot;message&quot;,&quot;success_message&quot;:&quot;Success! Now check your email to confirm your subscription.&quot;,&quot;redirect_url&quot;:&quot;&quot;},&quot;analytics&quot;:{&quot;google&quot;:null,&quot;fathom&quot;:null,&quot;facebook&quot;:null,&quot;segment&quot;:null,&quot;pinterest&quot;:null,&quot;sparkloop&quot;:null,&quot;googletagmanager&quot;:null},&quot;modal&quot;:{&quot;trigger&quot;:&quot;timer&quot;,&quot;scroll_percentage&quot;:null,&quot;timer&quot;:5,&quot;devices&quot;:&quot;all&quot;,&quot;show_once_every&quot;:15},&quot;powered_by&quot;:{&quot;show&quot;:true,&quot;url&quot;:&quot;https://kit.com/features/forms?utm_campaign=poweredby&amp;utm_content=form&amp;utm_medium=referral&amp;utm_source=dynamic&quot;},&quot;recaptcha&quot;:{&quot;enabled&quot;:false},&quot;return_visitor&quot;:{&quot;action&quot;:&quot;show&quot;,&quot;custom_content&quot;:&quot;&quot;},&quot;slide_in&quot;:{&quot;display_in&quot;:&quot;bottom_right&quot;,&quot;trigger&quot;:&quot;timer&quot;,&quot;scroll_percentage&quot;:null,&quot;timer&quot;:5,&quot;devices&quot;:&quot;all&quot;,&quot;show_once_every&quot;:15},&quot;sticky_bar&quot;:{&quot;trigger&quot;:&quot;timer&quot;,&quot;scroll_percentage&quot;:null,&quot;timer&quot;:5,&quot;devices&quot;:&quot;all&quot;,&quot;show_once_every&quot;:15}},&quot;version&quot;:&quot;5&quot;}"
      >
        <!-- Error Messages Container -->
        <ul class="formkit-alert formkit-alert-error" data-element="errors" data-group="alert"></ul>
        
        <!-- Form Fields Container -->
        <div data-element="fields" data-stacked="false" class="seva-fields formkit-fields flex flex-row w-full items-center">
          <div class="formkit-field flex-1">
            <input 
              type="email" 
              name="email_address"
              placeholder="Your email address" 
              required
              class="w-full bg-black text-[#B4E6FC] staatliches-regular text-[14px] font-semibold px-4 py-3 placeholder-gray-400 rounded-l-sm h-[48px]"
            >
          </div>
          <button 
            type="submit" 
            data-element="submit" 
            class="formkit-submit bg-[#fcb4fb] border-3 rounded-r-sm border-black px-6 py-3 hover:bg-[#B4E6FC] cursor-pointer transition-all duration-300 h-[48px] flex"
          >
            <!-- Loading Spinner -->
            <div class="formkit-spinner">
              <div></div>
              <div></div>
              <div></div>
            </div>
            <span class="staatliches-regular text-[14px] font-semibold text-black">
              SUBSCRIBE
            </span>
          </button>
        </div>
      </form>
    </div>

    <!-- Call to Action Button - Commented out for now -->
    <!-- <a 
      href="#newsletter" 
      class="bg-[#B4E6FC] border-3 rounded-sm border-black px-8 py-1 mb-8 hover:bg-[#fcb4fb] transition-all duration-300 inline-block text-center cursor-pointer"
    >
      <span class="staatliches-regular text-[21px] font-bold text-black">
        JOIN THE LIST
      </span>
    </a> -->
  </main>

  <!-- Footer - Newsletter Section - Commented out, moved to main content -->
  <!-- <footer id="newsletter" class="px-4 sm:px-8 py-8">
    <script src="https://f.convertkit.com/ckjs/ck.5.js"></script>
    <div class="max-w-sm mx-auto sm:mx-0 sm:ml-8">
      <h3 class="text-center sm:text-left staatliches-regular text-[24px] leading-none font-black text-black uppercase mb-1">
        NEWSLETTER
      </h3>
      <p class="text-center sm:text-left staatliches-regular text-[14px] leading-none font-thin text-black mt-0 mb-3">
        Weekly Shopify tips, YouTube updates, and ecommerce insights.
      </p>
      <form 
        action="https://app.kit.com/forms/8396869/subscriptions" 
        method="post" 
        class="flex flex-row seva-form formkit-form"
        data-sv-form="8396869" 
        data-uid="1bb1f07d3c" 
        data-format="inline" 
        data-version="5"
        data-options="{&quot;settings&quot;:{&quot;after_subscribe&quot;:{&quot;action&quot;:&quot;message&quot;,&quot;success_message&quot;:&quot;Success! Now check your email to confirm your subscription.&quot;,&quot;redirect_url&quot;:&quot;&quot;},&quot;analytics&quot;:{&quot;google&quot;:null,&quot;fathom&quot;:null,&quot;facebook&quot;:null,&quot;segment&quot;:null,&quot;pinterest&quot;:null,&quot;sparkloop&quot;:null,&quot;googletagmanager&quot;:null},&quot;modal&quot;:{&quot;trigger&quot;:&quot;timer&quot;,&quot;scroll_percentage&quot;:null,&quot;timer&quot;:5,&quot;devices&quot;:&quot;all&quot;,&quot;show_once_every&quot;:15},&quot;powered_by&quot;:{&quot;show&quot;:true,&quot;url&quot;:&quot;https://kit.com/features/forms?utm_campaign=poweredby&amp;utm_content=form&amp;utm_medium=referral&amp;utm_source=dynamic&quot;},&quot;recaptcha&quot;:{&quot;enabled&quot;:false},&quot;return_visitor&quot;:{&quot;action&quot;:&quot;show&quot;,&quot;custom_content&quot;:&quot;&quot;},&quot;slide_in&quot;:{&quot;display_in&quot;:&quot;bottom_right&quot;,&quot;trigger&quot;:&quot;timer&quot;,&quot;scroll_percentage&quot;:null,&quot;timer&quot;:5,&quot;devices&quot;:&quot;all&quot;,&quot;show_once_every&quot;:15},&quot;sticky_bar&quot;:{&quot;trigger&quot;:&quot;timer&quot;,&quot;scroll_percentage&quot;:null,&quot;timer&quot;:5,&quot;devices&quot;:&quot;all&quot;,&quot;show_once_every&quot;:15}},&quot;version&quot;:&quot;5&quot;}"
      >
        <ul class="formkit-alert formkit-alert-error" data-element="errors" data-group="alert"></ul>
        <div data-element="fields" data-stacked="false" class="seva-fields formkit-fields flex flex-row w-full items-center">
          <div class="formkit-field flex-1">
            <input 
              type="email" 
              name="email_address"
              placeholder="Your email address" 
              required
              class="w-full bg-black text-[#B4E6FC] staatliches-regular text-[14px] font-semibold px-4 py-3 placeholder-gray-400 rounded-l-sm h-[48px]"
            >
          </div>
          <button 
            type="submit" 
            data-element="submit" 
            class="formkit-submit bg-[#fcb4fb] border-3 rounded-r-sm border-black px-6 py-3 hover:bg-[#B4E6FC] cursor-pointer transition-all duration-300 h-[48px] flex"
          >
            <div class="formkit-spinner">
              <div></div>
              <div></div>
              <div></div>
            </div>
            <span class="staatliches-regular text-[14px] font-semibold text-black">
              SUBSCRIBE
            </span>
          </button>
        </div>
      </form>
    </div>
  </footer> -->
</div>